<p>comp4 works!</p>
<h2>merge() vs mergeAll() vs mergeMap()</h2>
<br /><br />
merge() : Prendre un groupe d'observables, et les aplatir en un seul, de sorte
que chaque fois qu'un observable émet une valeur, la sortie émettra une valeur.
<br /><br />
mergeAll() : Fusionne un groupe d'observables internes émis par un observable
d'ordre supérieur, et les aplatit en un observable de sortie de premier ordre.
<br /><br />
mergeMap() : Est la combinaison de map() et mergeAll() .
<br /><br />

<br /><br />

<br /><br />
